{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}
<div class="row vspace2 justify-content-md-center">
    <div class="col-md-8">

    <form action="{{ path('upload_file') }}" method="post" enctype="multipart/form-data">


        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row vspace3">
            <div class="col">
                {{ form_row(form.file) }}
            </div>
        </div>
        <div class="row vspace3">
            <div class="col" id="some-custom-id">
                {{ form_widget(form.save) }}

                <a href="{{ path('front_page') }}" class="left-margin-1em btn btn-danger">Cancel</a>
            </div>

        </div>
        {{ form_end(form) }}


    </form>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script>
        $('#form_file').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            var pos = fileName.lastIndexOf("\\") + 1;

            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName.substring(pos));
        })
    </script>
{% endblock %}