{% extends 'base.html.twig' %}

{% block title %}Evaluation interface{% endblock %}

{% block body %}
<div class="row vspace2 justify-content-md-center">
    <div class="col-md-8">
        <div class="text-right">Hello: {{ user.email }} (<a href="{{ path("app_logout") }}">Not you?</a>) </div>

        <div class="vspace3 with-border">
            Here can be an short explanation of the task and what's on the screen
        </div>

        <h4 class="vspace3">List of tasks available</h4>
        <table class="table table-striped vspace2">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col" class="text-center">Progress</th>
                <th scope="col" class="text-center">Complete?</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for info_task in info_tasks %}
                <tr>
                    {% set task=info_task[0] %}
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ task.task.title }}</td>
                    <td class="text-center">{{ info_task[1][0] }}/{{ info_task[1][1] }}</td>
                    <td class="text-center">
                        {%  if task.complete %}
                            <i class="text-success fas fa-check left-margin-1em"></i>
                        {% else %}
                            <i class="text-danger fas fa-times left-margin-1em"></i>
                        {%  endif %}
                    </td>
                    <td>
                        <a href="{{ path('annotation', {'id': task.task.first}) }}">Annotate</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
