{# /templates/annotation/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Analyse pairs{% endblock %}

{% block body %}

<div class="row vspace3">
    {% if position == "left" %}
        {%  include 'annotation/side_panel.html.twig' %}
        <script>
            var left = true;
        </script>
    {% endif %}

    <div id="annotation-panel" class="col-md-8">
        <div id="segment_one" class="segment">
            <b>Segment 1:</b> {{ segment.source }}
        </div>
        <div id="segment_two" class="segment" style="margin-bottom: 1em;">
            <b>Segment 2:</b> {{ segment.target }}
        </div>

        {%  include 'annotation/annotation_panel.html.twig' %}

        <div id="submit-panel" class="text-center">
            <button id="btn-save" type="button" class="disabled btn btn-primary">Save</button>
            {% if segment.prev %}
            <a href="{{ path('annotation', {'id': segment.prev}) }}">
                <button type="button" class="btn btn-primary left-margin-1em">Previous</button>
            </a>
            {% else %}
                <button type="button" class="btn btn-primary left-margin-1em" disabled>Previous</button>
            {% endif %}

            {% if segment.next %}
            <a href="{{ path('annotation', {'id': segment.next}) }}">
                <button type="button" class="btn btn-primary left-margin-1em">Next</button>
            </a>
            {% else %}
                <button type="button" class="btn btn-primary left-margin-1em" disabled>Next</button>
            {% endif %}
        </div>
    </div>

    {% if position == "right" %}
        {%  include 'annotation/side_panel.html.twig' %}
        <script>
            var left = false;
        </script>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let answers = {};
        answers["user"] = {{ user.id }};
        answers["segment"] = {{ segment.id }};

        function setInitValues() {
            {% if annotation %}
                answers["id"] = {{ annotation.id }};
                {% if annotation.QSt1 == "yes" %}
                    $('#q_st1_y').trigger('click');
                {% endif %}
                {% if annotation.QSt1 == "no" %}
                    $('#q_st1_n').trigger('click');
                {% endif %}

                {% if annotation.QSt2 == "yes" %}
                    $('#q_st2_y').trigger('click');
                {% endif %}
                {% if annotation.QSt2 == "no" %}
                    $('#q_st2_n').trigger('click');
                {% endif %}
                {%  if annotation.SubstitutionDistortionRate %}
                    $('#substitution-distortion-rate').val({{ annotation.SubstitutionDistortionRate }}).trigger('change');
                {% endif %}
                {%  if annotation.Step2Explanation %}
                    $('#step2_explanation').val('{{ annotation.Step2Explanation }}').trigger('focusout');
                {% endif %}

                {% if annotation.QSt3 == "yes" %}
                    $('#q_st3_y').trigger('click');
                {% endif %}
                {% if annotation.QSt3 == "no" %}
                    $('#q_st3_n').trigger('click');
                {% endif %}
                {%  if annotation.OmissionDistortionRate %}
                    $('#omission-distortion-rate').val({{ annotation.OmissionDistortionRate }}).trigger('change');
                {% endif %}
                {%  if annotation.Step3Explanation %}
                    $('#step3_explanation').val('{{ annotation.Step3Explanation }}').trigger('focusout');
                {% endif %}

                {% if annotation.QSt4 == "yes" %}
                    $('#q_st4_y').trigger('click');
                {% endif %}
                {% if annotation.QSt4 == "no" %}
                    $('#q_st4_n').trigger('click');
                {% endif %}
                {%  if annotation.AdditionDistortionRate %}
                    $('#addition-distortion-rate').val({{ annotation.AdditionDistortionRate }}).trigger('change');
                {% endif %}
                {%  if annotation.Step4Explanation %}
                $('#step4_explanation').val('{{ annotation.Step4Explanation }}').trigger('focusout');
                {% endif %}

                $('#btn-save').addClass('btn-primary');
                $('#btn-save').removeClass('btn-danger');

            {% endif %}
        }
    </script>
    <script src="{{ asset('js/annotation.js') }}"></script>
{% endblock %}
